{% extends "account/base.html" %}

{% load i18n %}

{% block title %}AutoR5|Account Inactive{% endblock %}

{% block content %}

<section class="login-logout-signup fullscreen jarallax">
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-5 form">
                <div class="title-wrapper">
                    <h2 class="section-title display-5">{% trans "Account Inactive" %}</h2>
                </div>
                <div class="form-area row">
                    <p>{% trans "This account is inactive." %}</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}