{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block title %}AutoR5|Confirm Email Address{% endblock %}

{% block content %}

<section class="login-logout-signup fullscreen jarallax">
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-5">
                <div class="title-wrapper">
                    <h2 class="section-title display-5">{% trans "Confirm Email Address" %}</h2>
                </div>
                {% if confirmation %}

                {% user_display confirmation.email_address.user as user_display %}

                {% if can_confirm %}
                <div class="form-area row">
                    <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an email address for user {{ user_display }}.{% endblocktrans %}</p>
                    <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                        {% csrf_token %}
                        <div class="col-md-auto col section-btn">
                            <button type="submit" class="btn btn-primary-outline display-4">
                                <span></span>{% trans 'Confirm' %}
                            </button>
                        </div>
                    </form>
                    {% else %}
                    <p>{% blocktrans %}Unable to confirm {{ email }} because it is already confirmed by a different account.{% endblocktrans %}</p>
                    {% endif %}
                    {% else %}
                    {% url 'account_email' as email_url %}
                    <p>{% blocktrans %}This email confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new email confirmation request</a>.{% endblocktrans %}</p>
    
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock content %}
