{% extends "base.html" %}

{% load i18n crispy_forms_tags %}

{% block head_title %}{% trans "Email Addresses" %}{% endblock head_title %}

{% block content %}
  <section class="login-logout-signup fullscreen jarallax">
    <div class="overlay"></div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-lg-5 form">
          <div class="title-wrapper">
            <h2 class="section-title display-5">{% trans "Email Addresses" %}</h2>
          </div>
          <div class="form-area row form-text">
            {% if emailaddresses %}
            <p class="">{% trans 'The following email addresses are associated with your account:' %}</p>

            <form action="{% url 'account_email' %}" class="email_list" method="post">
              {% csrf_token %}
              <fieldset class="blockLabels">
                {% for emailaddress in emailaddresses %}
                  <div class="ctrlHolder form-control">
                    <label for="email_radio_{{forloop.counter}}" class="{% if emailaddress.primary %}primary_email{% endif %}">
                      <input id="email_radio_{{forloop.counter}}" type="radio" name="email" {% if emailaddress.primary or emailaddresses|length == 1 %}checked="checked"{% endif %} value="{{ emailaddress.email }}" />
                      {{ emailaddress.email }}
                      {% if emailaddress.verified %}
                        <span class="verified">{% trans "Verified" %}</span>
                      {% else %}
                        <span class="unverified">{% trans "Unverified" %}</span>
                      {% endif %}
                      {% if emailaddress.primary %}<span class="primary">{% trans "Primary" %}</span>{% endif %}
                    </label>
                  </div>
                {% endfor %}
                <div class="buttonHolder col-md-auto col section-btn">
                  <button class="secondaryAction btn btn-primary-outline display-4" type="submit" name="action_primary">{% trans 'Make Primary' %}</button>
                  <button class="secondaryAction btn btn-primary-outline display-4" type="submit" name="action_send">{% trans 'Re-send Verification' %}</button>
                  <button class="primaryAction btn btn-primary-outline display-4" type="submit" name="action_remove">{% trans 'Remove' %}</button>
                </div>
              </fieldset>
            </form>
          {% else %}
            {% include "account/snippets/warn_no_email.html" %}
          {% endif %}
          {% if can_add_email %}
            <h2 class="section-title display-5">{% trans "Add Email Address" %}</h2>
            <form method="post" action="{% url 'account_email' %}" class="add_email">
              {% csrf_token %}
              {{ form|crispy }}
              <div class="col-md-auto col section-btn">
                <button class="btn btn-primary-outline display-4" name="action_add" type="submit">{% trans "Add Email" %}</button>
              </div>
            </form>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
