{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock head_title %}

{% block content %}

<section class="login-logout-signup jarallax">
    <div class="overlay"></div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-lg-5 form">
          <div class="title-wrapper">
            <h2 class="section-title display-5">{% trans "Password Reset" %}</h2>
          </div>
          <form method="POST" action="{% url 'account_reset_password' %}" class="signup">
            {% csrf_token %}
            <div class="form-area row">
                <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3">
                    <p>{% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}</p>
                  </div>
              {{ form|crispy }}
              <div class="col-md-auto col section-btn">
                <button type="submit" class="btn btn-primary-outline display-4">
                  <span></span>{% trans "Reset My Password" %}
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}
