{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}AutoR5|Change Password{% endblock %}

{% block content %}

<section class="login-logout-signup fullscreen jarallax">
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-5 form">
                <div class="title-wrapper">
                    <h2 class="section-title display-5">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2>
                </div>
                {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                {% else %}
                <form method="post" action="{% url 'account_logout' %}" class="password_reset_from_key">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="form-area row">
                        <input type="submit" name="action" value="{% trans 'change password' %}"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

