{% extends "account/base.html" %}

{% load i18n %}

{% load crispy_forms_tags %}

{% block title %}AutoR5|Sign Up Closed{% endblock %}

{% block content %}

<section class="login-logout-signup fullscreen jarallax">
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-5">
                <div class="title-wrapper">
                    <h2 class="section-title display-5">{% trans "Verify Your Email Address" %}</h2>
                </div>
                <div class="form-area row">
                    {% url 'account_email' as email_url %}
                    <p class="text display-7">
                        {% blocktrans %}This part of the site requires us to verify that
                        you are who you claim to be. For this purpose, we require that you
                        verify ownership of your email address. {% endblocktrans %}
                    </p>
                    <p class="text display-7">
                        {% blocktrans %}We have sent an email to you for
                        verification. Please click on the link inside that email. If you do not see the verification email in your main inbox, check your spam folder. Otherwise
                        contact us if you do not receive it within a few minutes.{% endblocktrans %}
                    </p>
                    <p class="text display-7">{
                        % blocktrans %}<strong>Note:</strong> you can still <a href="{{ email_url }}">change your email address</a>.{% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}