{% extends "base.html" %}
{% load crispy_forms_tags%}

{% block content %}
  
<section class="booking-section jarallax">

    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-5 form">
                <div class="title-wrapper">
                    <h2 class="section-title display-5">Rent: {{ car.make }} {{ car.model }}</h2>
                </div>
                <form action="{% url 'book_car' car.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-area row">
                        {% if bookedDates %}
                            <p>Already booked dates:</p>
                            <ul>
                                {% for bookingId, dateRange in bookedDates.items %}
                                    <li>
                                        {{ dateRange }}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>No booked dates for this car.</p>
                        {% endif %}
                        {{ form|crispy }}
                        <div class="col-md-auto col section-btn">
                            <button type="submit" class="btn btn-primary-outline display-4">
                                <span></span>Submit Booking
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
</section>

  {% endblock %}
  
