{% extends "base.html" %}

{% block content %}

<section data-bs-version="5.1" class="book-confirm-section fullscreen">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div id="map" class="map"></div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="title-wrapper">
                    <h1 class="section-title display-5">
                        Booking Confirmation
                    </h1>
                    <div class="text display-7">
                        <p>Booking ID: {{ booking.id }}</p>
                        <p>Car: {{ booking.car }}</p>
                        <p>Rental Date: {{ booking.rental_date }}</p>
                        <p>Return Date: {{ booking.return_date }}</p>
                        <p>Total Cost: €{{ total_cost }}</p>
                        <p id="car-location" data-latitude="{{ location_lat }}" data-longitude="{{ location_long }}"
                            class="text display-7">Pickup Location: {{ location_name }}</p>
                    </div>
                </div>
                <div class="image-wrapper">
                    <img src="{{ car.image.url }}" alt="{{ car }}" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}