{% extends "base.html" %}

{% block content %}

<!-- Car Details-->

<section class="car-details-section">

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-5 card">
                <div class="image-wrapper">
                    <img src="{{ car.image.url }}" alt="{{ car }}">
                </div>
            </div>
            <div class="col-12 col-lg-6 card">
                <div class="title-wrapper">
                    <div class="title-wrap">
                        <h3 class="section-title display-5">
                            {{ car }}
                        </h3>
                        <p class="text display-7">
                            Location: {{ car.location_name }}
                        </p>
                        <p class="text display-7">
                            Daily Rate: ${{ car.daily_rate }}
                        </p>
                        <p class="text display-7">
                            Features: {{ car.features }}
                        </p>
                        <div class="section-btn"><a class="btn btn-primary-outline display-4"
                                href="{% url 'book_car' car.id %}"><span
                                    class="mobi-mbri mobi-mbri-touch iconfont iconfont-btn"></span>Book Now</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Reviews -->
<section class="car-reviews-section">

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="title-wrapper">
                    <h2 class="section-title display-2">
                        Reviews</h2>
                </div>
            </div>
            {% for review in reviews %}
            <div class="col-12 col-lg-4 col-md-6 card">
                <div class="card-wrap">
                    <p class="date display-4">
                        Rating: {{ review.rating }}
                    </p>
                    <p class="text display-5">
                        "{{ review.comment }}"
                    </p>
                </div>
            </div>
            {% empty %}
            <div class="col-12 col-lg-4 col-md-6 card">
                <div class="card-wrap">
                    <p class="date display-4">
                        No reviews yet.
                    </p>
                </div>
            </div>
            {% endfor %}
            <div class="col-12">
                <div class="section-btn"><a class="btn btn-primary display-4"
                        href="{% url 'leave_review' car.id %}">Your Feedback</a></div>
            </div>
        </div>
    </div>
</section>

{% endblock %}