{% extends "base.html" %}

{% block content %}

<section class="car-list jarallax">

    <div class="side-container">
        <div class="sidebar-container">
            <div class="row">
                <form method="get">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 mb-3">
                            <label for="car_type" class="display-4">Manufacturer:</label>
                            <select name="make" id="car_make" class="form-control display-7">
                                <option value="">All</option>
                                {% for car in cars %}
                                    <option value="{{ car.make }}" {% if car.make == car_make %}selected{% endif %}>{{ car.make }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 mb-3">
                            <label for="car_model" class="display-4">Model:</label>
                            <select name="model" id="car_model" class="form-control display-7">
                                <option value="">All</option>
                                {% for car in cars %}
                                    <option value="{{ car.model }}">{{ car.model }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 mb-3">
                            <label for="car_year" class="display-4">Year:</label>
                            <select name="year" id="car_year" class="form-control display-7">
                                <option value="">All</option>
                                {% for car in cars %}
                                    <option value="{{ car.year }}">{{ car.year }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 mb-3">
                            <label for="car_location" class="display-4">Location:</label>
                            <select name="location" id="car_location" class="form-control display-7">
                                <option value="">All</option>
                                {% for car in cars %}
                                    <option value="{{ car.location_name }}">{{ car.location_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 mb-3">
                            <label for="car_type" class="display-4">Car Type:</label>
                            <select name="car_type" id="car_type" class="form-control display-7">
                                <option value="">All</option>
                                {% for car_type in car_types %}
                                    <option value="{{ car_type.0 }}" {% if car_type.0 == car_type %}selected{% endif %}>{{ car_type.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 mb-3">
                            <label for="fuel_type" class="display-4">Fuel Type:</label>
                            <select name="fuel_type" id="fuel_type" class="form-control display-7">
                                <option value="">All</option>
                                {% for fuel_type in fuel_types %}
                                    <option value="{{ fuel_type.0 }}" {% if fuel_type.0 == fuel_type %}selected{% endif %}>{{ fuel_type.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-auto col section-btn">
                            <button type="submit" class="btn btn-primary-outline display-4">
                                <span></span>Filter
                            </button>
                            <a href="{% url 'reset_filter' %}" class="btn btn-secondary display-4">
                                <span></span>Reset
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9">
                <div class="title-wrapper">
                    <h3 class="section-title display-1">Our Fleet</h3>
                </div>
            </div>
        </div>

        <div class="row">
            {% for car in cars %}
            <div class="item features-image сol-12 col-lg-3">
                <div class="item-wrapper">
                    <a href="{% url 'car_detail' car.id %}">
                        <div class="item-img">
                            <img src="{{ car.image.url }}" alt="">
                            <span class="iconfont">
                                <i class="fa-solid fa-calendar-days"></i>
                            </span>
                        </div>
                        <div class="item-content">
                            <p class="date display-4">
                                {{ car.year }}
                            </p>
                            <h4 class="card-title display-5">
                                {{ car.make }} {{ car.model}}
                            </h4>
                        </div>
                    </a>
                </div>
            </div>
            {% empty %}
            <p class="card-title display-5">No cars available.</p>
            {% endfor %}
        </div>

        <!-- Add pagination links -->
        <div class="pagination">
            <span class="step-links">
                <div class="col-md-auto col section-btn">
                {% if cars.has_previous %}
                    <a href="?page=1" class="btn section-btn btn-primary-outline display-4">
                        <span></span>First
                    </a>
                    <a href="?page={{ cars.previous_page_number }}" class="btn section-btn btn-secondary display-4">
                        <span></span>Previous
                    </a>
                {% endif %}
                <p class="current-page date display-4">
                    Page {{ cars.number }} of {{ cars.paginator.num_pages }}.
                </p>
                {% if cars.has_next %}
                    <a href="?page={{ cars.next_page_number }}" class="btn section-btn btn-primary-outline display-4">
                        <span></span>Next
                    </a>
                    <a href="?page={{ cars.paginator.num_pages }}" class="btn section-btn btn-secondary display-4">
                        <span></span>Last
                    </a>
                {% endif %}
                </div>
            </span>
        </div>
    </div>
</section>

{% endblock %}