{% extends "base.html" %}

{% block content %}

<section class="login-logout-signup jarallax">

  <div class="overlay"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-5 form">
        <div class="title-wrapper">
          <h2 class="section-title display-5">Confirm Payment</h2>
        </div>
        <p>Total Cost: €{{ total_cost }}</p>
        {% csrf_token %}
        <form id="payment-form" data-pk="{{ stripe_publishable_key }}" data-client-secret="{{ intent_client_secret }}"
          data-booking-id="{{ booking_id }}" data-car-id="{{car_id}}">
          <div id="link-authentication-element">
            <!--Stripe.js injects the Link Authentication Element-->
          </div>
          <div id="payment-element">
            <!--Stripe.js injects the Payment Element-->
          </div>
          <button id="submit">
            <div class="spinner hidden" id="spinner"></div>
            <span id="button-text">Pay now</span>
          </button>
          <div id="payment-message" class="hidden"></div>
        </form>
      </div>
    </div>
  </div>
  
  <section>

    {% endblock %}