{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<section class="login-logout-signup fullscreen jarallax">
  <div class="overlay"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-5 form">
        <div class="title-wrapper">
          <h2 class="section-title display-5">Edit Profile</h2>
        </div>
        <div class="form-area row form-text">
          <form method="post" action="{% url 'edit_profile' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
              <p>Current Number: {{ request.user.userprofile.phone_number }}</p>
              {{ form.phone_number|as_crispy_field }}
            </div>
            <div class="form-group">
              <p>Current Profile Picture:</p>
              {% if request.user.userprofile.profile_picture %}
              <img src="{{ request.user.userprofile.profile_picture.url }}" alt="Current Profile Picture">
              {% else %}
              <p>No current profile picture</p>
              {% endif %}
              {{ form.profile_picture_upload|as_crispy_field}}
            </div>
            {{ form.clear_picture|as_crispy_field }}
            <div class="col-md-auto col section-btn">
              <button class="btn btn-primary-outline display-4" type="submit">
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}