{% extends "base.html" %}
{% block content %}
{% load custom_filters %}

<!--Landing Page-->
<section class="header fullscreen jarallax">

    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="title-wrapper">
                    <h2 class="section-title display-1">Welcome to AutoR5 Car Rentals</h2>
                    <p class="text display-7">
                        Your gateway to an extraordinary driving experience. At AutoR5, we pride ourselves on delivering
                        top-notch car rental solutions that cater to your every need. Whether you're embarking on a
                        weekend getaway, a business trip, or simply need a reliable set of wheels for daily commuting,
                        our diverse fleet of vehicles ensures there's a perfect match for you. With a commitment to
                        exceptional service, competitive rates, and a hassle-free rental process, we're here to
                        transform your journey into an unforgettable adventure. Join us today and discover the road to
                        convenience, comfort, and style with AutoR5 Car Rentals.
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="buttons-wrap">
                    <div class="section-btn"><a class="btn btn-primary display-4" href="{% url 'cars_list' %}">
                            Book Now</a></div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="featured fullscreen">

    <div class="container-fluid">
        <div class="row">
            {% for car_type in car_types %}
            <div class="item features-image сol-12 col-lg-6">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="{% if car_type == 'Hatchback' %}https://res.cloudinary.com/dufksy94v/image/upload/v1698280671/media/car_images/gvcpchd28ysqiqtqjkae.webp
                        {% elif car_type == 'Saloon' %}https://res.cloudinary.com/dufksy94v/image/upload/v1698281062/media/car_images/ttny0k5amifszbwvrgbt.webp
                        {% elif car_type == 'Estate' %}https://res.cloudinary.com/dufksy94v/image/upload/v1698280929/media/car_images/dxvzecptis1fmyu69qs3.webp
                        {% elif car_type == 'MPV' %}https://res.cloudinary.com/dufksy94v/image/upload/v1698281063/media/car_images/xbnoogsq2uylnivglrk1.webp
                        {% elif car_type == 'SUV' %}https://res.cloudinary.com/dufksy94v/image/upload/v1698281063/media/car_images/a60nsjqulvttuxtidq1r.webp
                        {% elif car_type == 'Sports_Car' %}https://res.cloudinary.com/dufksy94v/image/upload/v1698281063/media/car_images/h6pulxtuho7fs11clpoy.webp
                        {% endif %}" alt="{{ car_type }}">
                        <div class="item-content">
                            <div class="title-wrap">
                                <h3 class="item-title display-5">{{ car_type|replace:"_, " }}</h3>
                                <p class="description display-7">
                                    {% if car_type == 'Hatchback' %}
                                    Ideal for daily commuting.
                                    {% elif car_type == 'Saloon' %}
                                    Great for comfort and long-distance travel.
                                    {% elif car_type == 'Estate' %}
                                    Blend luxury and cargo space, ideal for upscale travel and practical needs.
                                    {% elif car_type == 'MPV' %}
                                    Prioritize versatility, accommodating passengers and cargo, ideal for families.
                                    {% elif car_type == 'SUV' %}
                                    Elevated, versatile, and ideal for adventure.
                                    {% elif car_type == 'Sports_Car' %}
                                    Thrilling performance and agile handling, ideal for enthusiasts who crave an
                                    exhilarating drive.
                                    {% endif %}
                                </p>
                            </div>
                            <div class="section-btn">
                                <a class="btn btn-primary-outline display-4"
                                    href="{% url 'cars_list' %}?car_type={{ car_type }}&fuel_type=Petrol">Petrol</a>
                                <a class="btn btn-primary-outline display-4"
                                    href="{% url 'cars_list' %}?car_type={{ car_type }}&fuel_type=Diesel">Diesel</a>
                                <a class="btn btn-primary-outline display-4"
                                    href="{% url 'cars_list' %}?car_type={{ car_type }}&fuel_type=Hybrid">Hybrid</a>
                                <a class="btn btn-primary-outline display-4"
                                    href="{% url 'cars_list' %}?car_type={{ car_type }}&fuel_type=Electric">Electric</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
</section>
{% endblock %}